<h2>Todotastic What?</h2>

Todotastic is a project that I completed for my advanced rails course. The
base Rails project is pretty basic, however I was tasked with utilizing 
different technologies for Rails. 

It's a basic Todo application. Perhaps someday I will improve it's 
functionality. 

Please log in with your Github account. 
