<h2><%= @todo.id %></h2>
<p>
  <%= @todo.todo %>
</p>
<p>
  <%= link_to "Delete Todo", todo_path(@todo), method: :delete, data: { confirm: "Are you sure you want to delete this todo?"} %>
</p>
<p>
  <%= link_to "Edit Todo", edit_todo_path(@todo) %>
</p>
